:root {
    --color-primary: #282c34;
    --color-header: #101820FF;
    --color-font: #ffffff;
    --color-highlight-primary: #505050;
    --color-highlight-secondary: #B0E0E6;
}

p{
    margin-bottom: 0!important;
}