:root {
    --color-primary: #282c34;
    --color-header: #101820FF;
    --color-font: #ffffff;
    --color-highlight-primary: #505050;
    --color-highlight-secondary: #B0E0E6;
}

p{
    margin-bottom: 0!important;
}

/* TITLE IN THE HEADER */
@font-face {
    font-family: 'Sketch-Gothic-School';
    src: local('Sketch-Gothic-School'), url(../fonts/Sketch-Gothic-School.ttf) format('truetype');
}

/* Other important information */
@font-face {
    font-family: 'Futura-Pt-Heavy';
    src: local('Futura-Pt-Heavy'), url(../fonts/Futura-Pt-Heavy.otf) format('opentype');
}