.search{
    min-height: 90vh;
    background-color: var(--color-primary);
    color: var(--color-font);
}

.search__title{
    padding: 20px 40px;
    font-family: 'Futura-Pt-Heavy';
    font-weight: 600;
}